body{
    background-color:#00539CFF;
}

footer{
    position:sticky;
	width:100%;
	text-align: center;
	padding:1px;
	bottom:0px;
	background-color:#EEA47FFF;
    height:40px;
}

footer ul li {
    display:inline;
    list-style:none;
    padding:10px;
    margin-bottom: 30px
}

footer ul li a {
	text-decoration: none;
	color: black;
}

.catdog{
    height: 190px;
    width: 190px;
    border: solid 5px ;
}

.horses{
    height: 190px;
    width: 190px;
    border: solid 5px ;
}

.SG{
    height: 190px;
    width: 190px;
    border: solid 5px ;
}

.col{
    text-align: center;
}

h1{
    text-align: center;
    padding: 50px;
}

.navbar{
    
    background-color:#EEA47FFF;
}

footer a:hover {
    color: rgb(58, 43, 226);
}

.nav-link.active {
	background-color: #2195f3;
	color: white;
}

.sbutton{
    background-color:rgb(234, 80, 80);
}

.sbutton:hover{
    background-color:rgb(0, 68, 128);
}

.navbar a:hover{
    color: rgb(58, 43, 226);
}